<div class='molecules__book-summary'>
  <div class='molecules__book-summary__title'>{{{title}}}</div>
  <div class='molecules__book-summary__subtitle'>{{{subtitle}}}</div>
  <div class='molecules__book-summary__author'>{{{author}}}</div>
  <div class='molecules__book-summary__notes'>{{{notes}}}</div>
  <div class='molecules__book-summary__link-row'>
    <a class='molecules__book-summary__link' href='{{link}}' target='_blank'>
      {{> atoms/svg-icon name='book-link' alt='Link to Book Details'}}
      <span class='molecules__book-summary__link-text'>Book</span>
    </a>
    {{#if blog}}
    <a class='molecules__book-summary__link' href='/blog/{{blog}}.html'>
      {{> atoms/svg-icon name='ab-initials' alt='Link to Blog Post'}}
      <span class='molecules__book-summary__link-text'>Blog</span>
    </a>
    {{/if}}
  </div>
</div>
