<div class='molecules__book-summary'>
  <h4>{{title}}{{#if subtitle}}: {{subtitle}}{{/if}}</h4>
  <span><i>{{author}}</i> <a href='{{link}}' target='_blank'>details</a></span>
  <p>{{{notes}}}</p>
</div>
