{{#if experience.isString}}
  <div class='molecules__tech-stack molecules__tech-stack--string'>
    {{experience.value}}
  </div>
{{else if experience.isConnection}}
  <div class='molecules__tech-stack molecules__tech-stack--connection'>&udarr;{{experience.value}}</div>
{{else if experience.isGroup}}
  {{#if (not experience.value.borderless)}}<fieldset class='molecules__tech-stack-fieldset'>{{/if}}
    {{#if experience.value.name}}<legend>{{experience.value.name}}</legend>{{/if}}
    <div class='molecules__tech-stack molecules__tech-stack--direction-{{coalesce experience.value.direction 'row'}}'>
    {{#each experience.value.items}}
      {{> molecules/tech-stack experience=(experience this) }}    
    {{/each}}
    </div>
  {{#if (not experience.value.borderless)}}</fieldset>{{/if}}
{{else}}
  <div class='molecules__tech-stack molecules__tech-stack--{{experience.type}}'>
  {{#each experience.value}}
    {{> molecules/tech-stack experience=(experience this) }}    
  {{/each}}
  </div>
{{/if}}
