{{#if model.isString}}
  <div class='molecules__tech-stack molecules__tech-stack__string'><span>{{model.value}}</span></div>
{{else if model.isConnection}}
  <div class='molecules__tech-stack molecules__tech-stack__connection'>&udarr;{{model.value}}</div>
{{else if model.isPlaceholder}}
  <div class='molecules__tech-stack molecules__tech-stack__placeholder'>&nbsp;</div>
{{else if model.isLine}}
  <hr class='molecules__tech-stack molecules__tech-stack__hr'></hr>
{{else if model.isBox}}
  <fieldset class='molecules__tech-stack molecules__tech-stack__box'>
    {{#if model.label}}<legend>{{model.label}}</legend>{{/if}}
    {{> molecules/tech-stack model=(experience model.value) }}
  </fieldset>
{{else}}
  <div class='molecules__tech-stack molecules__tech-stack__{{model.type}}'>
  {{#each model.value}}
    {{#if this}}
      {{> molecules/tech-stack model=(experience this) }}    
    {{/if}}
  {{/each}}
  </div>
{{/if}}
