<!DOCTYPE html>
<html lang='en'>
  {{> invisible/html-head}}
  {{#> atoms/html-body class='pages__blog-post' }}
    {{> invisible/signature }}
    {{> invisible/icon-symbols }}
    <section>
      <a class='pages__blog-post__home-link' href='/blog' alt='Home Page'>
        {{> atoms/svg-icon name='home' }}
      </a>
      <h1>{{{title}}}</h1>
      <h2>{{{subtitle}}}</h2>
      {{{ markdown content }}}
      {{#if twitter}}
        <hr/>
        <p>Something to add? <a href='{{twitter}}'>Continue the conversation on Twitter</a></p>
      {{/if}}
      {{#if date}}
        <hr/>
        <p class='pages__blog-post__written-on'>Written {{date}}</p>
      {{/if}}
    </section>
    <footer class='pages__blog-post__footer'>
      {{> atoms/copyright-footer copyright }}
    </footer>
  {{/atoms/html-body}}
</html>
