<!DOCTYPE html>
<html lang='en'>
  {{> invisible/html-head title=header.title}}
  {{#> atoms/html-body class='pages__blog-book-list-post' }}
    {{> invisible/signature }}
    {{> invisible/icon-symbols }}
    {{> organisms/blog-header header }}
    <div class='pages__blog-post'>
      <h2>{{{title}}}</h2>
      {{#if subtitle}}<p>{{{subtitle}}}</p>{{/if}}
      {{{ markdown content }}}
      {{#each books}}
      <section class='pages__blog-book-list-post__section'>
        <h3>{{{this.category}}}</h3>
        <div class='pages__blog-book-list-post__section-intro'>{{this.intro}}</div>
        <div class='pages__blog-book-list-post__book-grid'>
        {{#each this.books}}
          {{> molecules/book-summary this }}
        {{/each}}
        </div>
      </section>
      {{/each}}
    </div>
    <footer class='pages__blog-book-list-post__footer'>
      {{> atoms/copyright-footer copyright }}
    </footer>
  {{/atoms/html-body}}
</html>
