<!DOCTYPE html>
<html lang='en'>
  {{#> invisible/html-head title=(concat title ' &bull; ' header.title)}}
    {{> invisible/meta-tags
      meta-tags
      title=title
      description=subtitle
      url=url
    }}
  {{/invisible/html-head}}
  {{#> atoms/html-body class=(concat-space 'pages__blog-post' style-variations) }}
    {{> invisible/signature }}
    {{> invisible/icon-symbols }}
    {{> organisms/blog-header header }}
    <section class='pages__blog-post__body'>
      <h2>{{{title}}}</h2>
      {{#if subtitle}}<p>{{{subtitle}}}</p>{{/if}}
      {{{ markdown content }}}
      {{#if twitter}}
        <hr/>
        <p>Something to add? <a href='{{twitter}}'>Continue the conversation on Twitter</a></p>
      {{/if}}
      {{#if mastodon}}
        <hr/>
        <p>Something to add? <a href='{{mastodon}}'>Continue the conversation on Mastodon</a></p>
      {{/if}}
      {{#if date}}
        <hr/>
        <p class='pages__blog-post__written-on'>Written {{date}}</p>
      {{/if}}
    </section>
    <footer class='pages__blog-post__footer'>
      {{> atoms/copyright-footer copyright }}
    </footer>
  {{/atoms/html-body}}
</html>
