<!DOCTYPE html>
<html lang='en'>
  {{> invisible/html-head title=(concat title ' &bull; ' header.title)}}
  {{#> atoms/html-body class='pages__blog-post' }}
    {{> invisible/signature }}
    {{> invisible/icon-symbols }}
    {{> organisms/blog-header header }}
    <section class='pages__blog-post__body'>
      <h2>{{{title}}}</h2>
      {{#if subtitle}}<p>{{{subtitle}}}</p>{{/if}}
      {{{ markdown content }}}
      {{#if twitter}}
        <hr/>
        <p>Something to add? <a href='{{twitter}}'>Continue the conversation on Twitter</a></p>
      {{/if}}
      {{#if date}}
        <hr/>
        <p class='pages__blog-post__written-on'>Written {{date}}</p>
      {{/if}}
    </section>
    <footer class='pages__blog-post__footer'>
      {{> atoms/copyright-footer copyright }}
    </footer>
  {{/atoms/html-body}}
</html>
