<div class='organisms__child-page-header'>
  <a href="/" title="Home" class="organisms__child-page-header__home-link">
    {{> atoms/profile-picture class='profile-picture'}} 
    <span class='organisms__child-page-header__name'>{{name}}</span>
  </a>
  <span class='organisms__child-page-header__divider'>//</span>
  <span class='organisms__child-page-header__title'>{{pageTitle}}</span>
</div>
<div class='organisms__child-page-header--print'>
  <h1 class='organisms__child-page-header__name'>{{name}}</h1>
  <span class='organisms__child-page-header__email'>{{email}}</span>
  <span class='organisms__child-page-header__website'>{{website}}</span>
  <span class='organisms__child-page-header__remarks'>Follow QR for Details</span>
  <img class='organisms__child-page-header__qr' src='/assets/alexanderbird.software.qr.png'></img>
</div>
