<div class='atoms__card organisms__education'>
  <h3 class='organisms__education__degree-label'>{{degree}}</h3>
  <img class='organisms__education__institution-logo' alt='{{institution}}' src='/assets/{{institution-logo}}'></img>
  <span class='organisms__education__faculty-label'>{{faculty}}</span>
  <span class='organisms__education__institution-label'>{{institution}}</span>
</div>
