<div class='organisms__experience-tile atoms__card {{#if noStack}}organisms__experience-tile--no-stack{{/if}}'>
  <div class='organisms__experience-tile__tech-stack'>
    {{> molecules/tech-stack model=(experience stack) }}
  </div>
  <div class='organisms__experience-tile__summary'>
    <h3 class='organisms__experience-tile__summary-header'>{{{summary}}}</h3>
  </div>
  <div class='organisms__experience-tile__text'>
    <div class='
      organisms__experience-tile__role
      {{#if client}}organisms__experience-tile__role--with-client{{/if}}
      '>
      <span class='atoms__span--emphasis'>Role: </span>{{role}}
    </div>
    <div class='
      organisms__experience-tile__employer
      {{#if client}}organisms__experience-tile__employer--with-client{{/if}}
      '>
      <span class='atoms__span--emphasis'>Employer: </span>{{employer}}
    </div>
    {{#if client}}
    <div class='organisms__experience-tile__client'>
      <span class='atoms__span--emphasis'>Client: </span>
      {{client}}
      <span class='organisms__experience-tile__client-size'>({{client-size}})</span>
    </div>
    {{/if}}
    <div class='organisms__experience-tile__statistics'>
      <span class='organisms__experience-tile__statistics-item'>{{> atoms/svg-icon name='human' }} {{pluralize 'person' team-size}}</span>
      <span class='organisms__experience-tile__pipe-divider'></span>
      <span class='organisms__experience-tile__statistics-item'>{{> atoms/svg-icon name='calendar' }}
        {{#if ongoing-since}}
          since {{ongoing-since}}
        {{else}}
          {{pluralize 'month' duration-in-months}}
        {{/if}}
      </span>
      <span class='organisms__experience-tile__pipe-divider'></span>
      <span class='organisms__experience-tile__statistics-item'>{{> atoms/svg-icon name='id-badge' }} {{role}}</span>
    </div>
    <ul class='organisms__experience-tile__comments'>
    {{#each comments}}
      {{> molecules/bullet bullet=this }}
    {{/each}}
    </ul>
  </div>
</div>
