<div class='organisms__experience atoms__card'>
  <div class='organisms__experience__text-head'>
    <h3>
      {{industry}}
      {{#if client-size}}<span class='organisms__experience__text--subtle'>({{client-size}})</span>{{/if}}
    </h3>
    <p>
      <span class='organisms__experience__text--emphasis'>Role: </span>
      {{title}} for {{employer}}
    </p>
    <p>
      <span>{{> atoms/svg-icon name='human' }} {{pluralize 'person' team-size}}</span>
      <span>|</span>
      <span>{{> atoms/svg-icon name='calendar' }} {{pluralize 'month' duration-in-months}}</span>
    </p>
  </div>
  <div class='organisms__experience__text-body'>
    {{#if people}}<div>
      {{> atoms/svg-icon name='team' }}
      <span>{{{people}}}</span>
    </div>{{/if}}
    {{#if engineering}}<div>
      {{> atoms/svg-icon name='uml' }}
      <span>{{{engineering}}}</span>
    </div>{{/if}}
  </div>
  <div class='organisms__experience__tech-stack'>
    <h4>Technology/Architecture</h4>
    {{> molecules/tech-stack model=(experience stack) }}
  </div>
</div>
