<div class='organisms__experience-tile atoms__card'>
  <div class='organisms__experience-tile__summary'>
    <h3 class='organisms__experience-tile__summary-header'>{{{summary}}}</h3>
  </div>
  <div class='organisms__experience-tile__text'>
    <div class='organisms__experience-tile__role'>
      <span class='atoms__span--emphasis'>Role: </span>{{title}}
    </div>
    <div class='
      organisms__experience-tile__employer
      {{#if client}}organisms__experience-tile__employer--with-client{{/if}}
      '>
      <span class='atoms__span--emphasis'>Employer: </span>{{employer}}
    </div>
    {{#if client}}
    <div class='organisms__experience-tile__client'>
      <span class='atoms__span--emphasis'>Client: </span>
      {{client}}
      <span class='organisms__experience-tile__client-size'>({{client-size}})</span>
    </div>
    {{/if}}
    {{#if department}}
    <div>
      {{department}}
    </div>
    {{/if}}
    <div class='organisms__experience-tile__statistics'>
      <span>{{> atoms/svg-icon name='human' }} {{pluralize 'person' team-size}}</span>
      <span class='organisms__experience-tile__pipe-divider'></span>
      <span>{{> atoms/svg-icon name='calendar' }} {{pluralize 'month' duration-in-months}}</span>
    </div>
    {{#if people}}
    <p>
      {{> atoms/svg-icon name='team' }}
      <span>{{{people}}}</span>
    </p>
    {{/if}}
    {{#if engineering}}
    <p>
      {{> atoms/svg-icon name='uml' }}
      <span>{{{engineering}}}</span>
    </p>
    {{/if}}
  </div>
  <div class='organisms__experience-tile__tech-stack'>
    {{> molecules/tech-stack model=(experience stack) }}
  </div>
</div>
