<section class='organisms__experience-section'>
  <h2>Experience & Education</h2>
  {{#each experiences}}
  <article>
    <h3>{{this.role}} <span class='organisms__experience-section__date-range'>{{this.from}} &mdash; {{this.to}}</span></h3>
    <h4>{{this.employer}}</h4>
    {{#> molecules/row }}
    {{/ molecules/row }}
    <div class='scope--molecules--row'>
      <div class='item'>
        <h5>Engineering</h5>
        <ul>
          {{#each this.engineering}}<li>{{this}}</li>{{/each}}
        </ul>
      </div>
      <div class='item'>
        <h5>Technology</h5>
        <ul>
          {{#each this.technology}}<li>{{this}}</li>{{/each}}
        </ul>
      </div>
      <div class='item'>
        <h5>Teamwork</h5>
        <ul>
          {{#each this.teamwork}}<li>{{this}}</li>{{/each}}
        </ul>
      </div>
    </div>
  </article>
  {{/each}}
</section>
