<div class='organisms__experience'>
  <h3>{{data.client}}</h3>
  <h4>{{data.title}} for {{data.employer}}</h4>
  <span>{{repeat data.team-size '☺'}}</span>
  <span>|</span>
  <span>{{repeat data.duration-in-months '📅'}}</span>
  <div class='organisms__experience__row'>
    <div>
      {{#if data.people}}<div>
        {{> atoms/svg-icon name='team' }}
        <span>{{{data.people}}}</span>
      </div>{{/if}}
      {{#if data.engineering}}<div>
        {{> atoms/svg-icon name='uml' }}
        <span>{{{data.engineering}}}</span>
      </div>{{/if}}
    </div>
    {{> molecules/tech-stack experience=(experience data.stack) }}
  </div>
</div>
